POSTGRES_DB=PrivateCloudDrive
POSTGRES_USER=privateclouddrive
POSTGRES_PASSWORD=change-me
STRING_ENCRYPTION_PASSPHRASE=change-this-32-character-secret
PUBLIC_URL=http://localhost:8080
FILECENTER_STORAGE_PATH=/app/storage
MINIO_ROOT_USER=privateclouddrive
MINIO_ROOT_PASSWORD=change-me-too
